<ng-icon-sidebar>

  <!-- Your content goes here, inside the sidebar's tag. This sample content exists for demonstration purposes. -->
  <ul>
    <li>
      <a href="#">
        <span class="icon-container">
          <i class="material-icons">mail</i>
        </span>
        Inbox
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon-container">
          <i class="material-icons">send</i>
        </span>
        Outbox
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon-container">
          <i class="material-icons">favorite</i>
        </span>
        Favorites
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon-container">
          <i class="material-icons">archive</i>
        </span>
        Archive
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon-container">
          <i class="material-icons">delete</i>
        </span>
        Trash
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon-container">
          <i class="material-icons">report</i>
        </span>
        Spam
      </a>
    </li>
  </ul>
  <!-- End of sample content for demonstration purposes. -->

</ng-icon-sidebar>