/* Here is an example of how you can change the sidebar component's styling via
   its exposed CSS classes. */

.ng-icon-sidebar {
  background-color: DarkGreen;
}

/* The code below exists just to style the sample demonstration content. You
   will need to provide your own code for styling your content. */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  width: 256px;
}

.icon-container {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
}

a {
  align-items: center;
  color: #d2d2d0;
  display: flex;
  text-decoration: none;
}
