<ng-icon-sidebar>
  <ul>
    <li>
      <a href="#">
        <span class="icon-container">
          <i class="material-icons">mail</i>
        </span>
        Inbox
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon-container">
          <i class="material-icons">send</i>
        </span>
        Outbox
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon-container">
          <i class="material-icons">favorite</i>
        </span>
        Favorites
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon-container">
          <i class="material-icons">archive</i>
        </span>
        Archive
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon-container">
          <i class="material-icons">delete</i>
        </span>
        Trash
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon-container">
          <i class="material-icons">report</i>
        </span>
        Spam
      </a>
    </li>
  </ul>
</ng-icon-sidebar>

<main style="margin-left: 48px"></main>